<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>

        var tabLoadterFlag = false;
        // takes duration in ms as only parameter
        function showTabLoader() {
            tabLoadterFlag = true;
            // To avoid flickering, you need some big document
            // Please change this url in your script, wikimedia may not be happy with us.
            var url = 'https://upload.wikimedia.org/wikipedia/commons/3/35/Viborg_Katedralskole_Symmetrical.jpg';

            var iframe = document.createElement('iframe');
            iframe.style.display = 'none';
            document.body.appendChild(iframe);
            iframe.onload = function () {
                if (tabLoadterFlag) {
                    this.src = url + '?' + Math.random();
                }
            };
            var check = function (time) {
                if (!tabLoadterFlag) {
                    iframe.src = '';
                    iframe.parentNode.removeChild(iframe);
                    return;
                }
                requestAnimationFrame(check);
            };
            requestAnimationFrame(check);
            iframe.src = url;
        }

        function hideTabLoader() {
            tabLoadterFlag = false;
        }

        jQuery(document).ready(function ($) {
            var loadContent = function (url, pushState) {
                showTabLoader();
                $.get(url, function (data, status, xhr) {
                    if (pushState) {
                        window.history.pushState("", "", url);
                    }
                    $("#content").html(data);
                    document.title = xhr.getResponseHeader('X-Ajax-Title');
                    hideTabLoader();
                });
            };

            window.onpopstate = function (event) {
                loadContent(document.location, false);
            };

            $("#menu a").click(function (e) {
                var me = $(this), url = me.attr('href');
                loadContent(url, true);
                e.preventDefault();
            })
        });
    </script>
</head>
<body>
<ul id="menu" style="float: left; width: 200px">
    <li><a href="/?action=index">index</a></li>
    <li><a href="/?action=friends">friends</a></li>
    <li><a href="/?action=audio">audio</a></li>
    <li><a href="/?action=messages">messages</a></li>
    <li><a href="/?action=settings">settings</a></li>
</ul>
<div id="content" class="content" style="margin-left: 220px;">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>